# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.nox/
.eggs/
*.egg-info/
*.egg

# Log files
*.log
uvicorn_output.log

# IDE / Editor
.idea/
.vscode/
*.swp
*~